# Comparative Analysis of Goals Scored in Men's and Women's International Soccer Matches

## Introduction

As sports journalists specializing in soccer analysis, we are intrigued by an intuitive hypothesis: that more goals are scored in women's international soccer matches than in men's matches. Having closely followed both men's and women's competitions, this assumption could lead to an engaging investigative article for our audience. However, to substantiate this claim, a rigorous statistical analysis is necessary.

### Objective of the Analysis

The objective of this study is to statistically test whether the average number of goals scored in women's international soccer matches is greater than that of men's matches. We will conduct a hypothesis test to determine whether we can reject or fail to reject the null hypothesis at a 10% significance level. This analysis will focus exclusively on official FIFA World Cup matches since January 1, 2002.

### Hypotheses

To address our research question, we will formulate the following hypotheses:

- **Null Hypothesis ( \( H_0 \) )**: The mean number of goals scored in women's international soccer matches is the same as in men's matches.
- **Alternative Hypothesis ( \( H_1 \) )**: The mean number of goals scored in women's international soccer matches is greater than in men's matches.

### Data and Methodology

The data used for this analysis includes the results of all official international soccer matches for both men and women since January 1, 2002, collected from a reliable online source. These results are stored in two CSV files: `women_results.csv` for women's matches and `men_results.csv` for men's matches. We will assume that each match is independent, ignoring individual team performances over the course of the tournament for the sake of simplifying the statistical model.

The outcome of the test will be summarized in a Python dictionary, `result_dict`, which will contain:

- **p_val**: the p-value obtained from the hypothesis test
- **result**: a conclusion expressed as either "reject" or "fail to reject," based on the findings regarding the null hypothesis.

### Research Question

**Are more goals scored in women's international soccer matches than in men's matches?**

Through this methodology, we aim to answer this question rigorously by interpreting the available data using statistical testing.

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import files and load in dataframes
mens_df = pd.read_csv('Dataset/men_results.csv')
womens_df = pd.read_csv('Dataset/women_results.csv')

In [3]:
mens_df.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
0,0,1872-11-30,Scotland,England,0,0,Friendly
1,1,1873-03-08,England,Scotland,4,2,Friendly
2,2,1874-03-07,Scotland,England,2,1,Friendly
3,3,1875-03-06,England,Scotland,2,2,Friendly
4,4,1876-03-04,Scotland,England,3,0,Friendly

In [4]:
womens_df.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
0,0,1969-11-01,Italy,France,1,0,Euro
1,1,1969-11-01,Denmark,England,4,3,Euro
2,2,1969-11-02,England,France,2,0,Euro
3,3,1969-11-02,Italy,Denmark,3,1,Euro
4,4,1975-08-25,Thailand,Australia,3,2,AFC Championship

### Filtering the data

Filter the data to only include official FIFA World Cup matches that took place after 2002-01-01.

In [5]:
# Filter data for men's matches
mens_df["tournament"].unique()

array(['Friendly', 'British Home Championship', 'Évence Coppée Trophy',
       'Copa Lipton', 'Copa Newton', 'Copa Premio Honor Argentino',
       'Copa Premio Honor Uruguayo', 'Copa Roca', 'Copa América',
       'Copa Chevallier Boutell', 'Nordic Championship',
       'Central European International Cup', 'Baltic Cup', 'Balkan Cup',
       'FIFA World Cup', 'Copa Rio Branco',
       'FIFA World Cup qualification', 'Bolivarian Games',
       'CCCF Championship', 'NAFC Championship', 'Copa Oswaldo Cruz',
       'Pan American Championship', 'Copa del Pacífico',
       "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification',
       'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations',
       'Copa Paz del Chaco', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'Phillip Seaga Cup',
       'CONCACAF Championship', 'Copa Juan Pinto Durán', 'Arab Cup',
       'South Pacific Games', 'CONCACAF Championship qualification',
       'Copa Artigas', 'GaNEFo', "King's Cup", 'Gulf Cup',
       'Indonesia Tournament', 'Korea Cup', 'Palestine Cup',
       'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Kuneitra Cup',
       'Copa Félix Bogado', 'Real Madrid 75th Anniversary Cup',
       'Beijing International Friendship Tournament', 'Kirin Cup',
       'CFU Caribbean Cup qualification', 'CFU Caribbean Cup',
       'Amílcar Cabral Cup', 'FIFA 75th Anniversary Cup',
       'Guangzhou International Friendship Tournament', 'Mundialito',
       'West African Cup', 'Nehru Cup', 'Merlion Cup', 'Great Wall Cup',
       'UDEAC Cup', 'Rous Cup', 'CONMEBOL–UEFA Cup of Champions',
       'Lunar New Year Cup', 'Arab Cup qualification',
       'Tournoi de France', 'Malta International Tournament',
       'Matthews Cup', 'Tournament Burkina Faso', 'Island Games',
       'NAFU Championship', 'Dynasty Cup', 'Dakar Tournament',
       'UNCAF Cup', 'Gold Cup', 'USA Cup',
       'Jordan International Tournament', 'Confederations Cup',
       'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup',
       'COSAFA Cup qualification', 'COSAFA Cup', 'Gold Cup qualification',
       'SKN Football Festival', 'UNIFFAC Cup', 'WAFF Championship',
       'Millennium Cup', 'Cup of Ancient Civilizations',
       "Prime Minister's Cup", 'EAFF Championship', 'TIFOCO Tournament',
       'Afro-Asian Games', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'AFC Challenge Cup qualification',
       'African Nations Championship', 'VFF Cup', 'Dragon Cup',
       'ABCS Tournament', 'Nile Basin Tournament', 'Nations Cup',
       'Copa Confraternidad', 'Pacific Games',
       'Superclásico de las Américas', 'Kirin Challenge Cup', 'OSN Cup',
       'CONIFA World Football Cup', 'CONIFA European Football Cup',
       'Copa América qualification', 'World Unity Cup',
       'Pacific Mini Games', 'Intercontinental Cup',
       'AFF Championship qualification', 'UEFA Nations League',
       'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'Atlantic Heritage Cup', 'Inter Games Football Tournament',
       'CONCACAF Nations League', 'Three Nations Cup',
       'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONIFA Africa Football Cup', 'CONIFA South America Football Cup',
       "MSG Prime Minister's Cup"], dtype=object)

In [6]:
mens_df["date"].dtypes

dtype('O')

In [7]:
# Convert the 'date' column to datetime format for better usability
mens_df["date"] = pd.to_datetime(mens_df["date"])

In [8]:
mens_df["date"].dtypes

dtype('<M8[ns]')

In [9]:
# Filter for FIFA World Cup matches
mens_worldCup = mens_df[mens_df["tournament"] == 'FIFA World Cup']

In [10]:
mens_worldCup.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
1311,1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup
1312,1312,1930-07-13,France,Mexico,4,1,FIFA World Cup
1313,1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup
1314,1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup
1315,1315,1930-07-15,Argentina,France,1,0,FIFA World Cup

In [11]:
# Filter for matches after January 1, 2002
mens_worldCup  = mens_df[mens_df["date"] > pd.Timestamp('2002-01-01')]

In [12]:
# Filter data for women's matches

In [13]:
womens_df["tournament"].unique()

array(['Euro', 'AFC Championship', 'UEFA Euro qualification',
       'OFC Championship', 'UEFA Euro', 'African Championship',
       'CONCACAF Championship', 'Copa América', 'FIFA World Cup',
       'CONCACAF Invitational Tournament', 'Algarve Cup', 'Olympic Games',
       'Four Nations Tournament', 'African Championship qualification',
       'CONCACAF Gold Cup qualification', 'CONCACAF Gold Cup',
       'AFC Asian Cup qualification', 'AFC Asian Cup', 'Cyprus Cup',
       'Olympic Games qualification', 'Friendly', 'SheBelieves Cup',
       'FIFA World Cup qualification', 'Tournament of Nations',
       'OFC Nations Cup qualification', 'African Cup of Nations',
       'OFC Nations Cup', 'Tournoi de France',
       "Basque Country Women's Cup",
       'African Cup of Nations qualification'], dtype=object)

In [14]:
womens_df["date"].dtypes

dtype('O')

In [15]:
# Convert the 'date' column to datetime format for better usability
womens_df["date"] = pd.to_datetime(womens_df["date"])

In [16]:
womens_worldCup = womens_df[(womens_df["tournament"] == 'FIFA World Cup') & (womens_df["date"] > pd.Timestamp('2002-01-01'))]

In [17]:
womens_worldCup

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
1600,1600,2003-09-20,Nigeria,North Korea,0,3,FIFA World Cup
1601,1601,2003-09-20,Norway,France,2,0,FIFA World Cup
1602,1602,2003-09-20,Germany,Canada,4,1,FIFA World Cup
1603,1603,2003-09-20,Japan,Argentina,6,0,FIFA World Cup
1604,1604,2003-09-21,United States,Sweden,3,1,FIFA World Cup
...,...,...,...,...,...,...,...
4465,4465,2019-06-29,Germany,Sweden,1,2,FIFA World Cup
4466,4466,2019-07-02,England,United States,1,2,FIFA World Cup
4467,4467,2019-07-03,Netherlands,Sweden,1,0,FIFA World Cup
4468,4468,2019-07-06,England,Sweden,1,2,FIFA World Cup
4469,4469,2019-07-07,United States,Netherlands,2,0,FIFA World Cup

### Choosing the correct hypothesis test

In this scenario, we are comparing two independent groups, men and women, which requires a two-sample independent test. The two most commonly used tests for this purpose are:

- The unpaired t-test: A parametric test used when the data follows a normal distribution.
- The Wilcoxon-Mann-Whitney test: A non-parametric alternative to the unpaired t-test, used when the data does not meet the assumption of normality.
  
These tests allow us to assess whether there is a significant difference between the two groups.

We need to analyze the sample size and distribution in order to select the most appropriate test.

In [21]:
# Sample for women's data
womens_sample = womens_worldCup.shape
print(f"The women's DataFrame contains {womens_sample[0]} rows.")

The women's DataFrame contains 200 rows.

We estimate that a minimum of 30 data points is needed to prefer a parametric test.

In [23]:
# Sample for men's data
mens_sample = mens_worldCup.shape
print(f"The men's DataFrame contains {mens_sample[0]} rows.")

The men's DataFrame contains 19490 rows.

Now we need to check the normality of each distribution