# Car Insurance Claim Prediction Project

## Introduction

Insurance companies invest significant time and resources into optimizing pricing models and accurately estimating the probability that customers will make a claim. In many countries, car insurance is legally required to drive on public roads, which creates a massive market for such services. 

In this project, **On the Road** car insurance has tasked us with developing a model that predicts whether a customer will file a claim during the policy period. Given their limited expertise and infrastructure in deploying and monitoring machine learning models, they have asked for a **simple solution**: identify the single most predictive feature from their customer dataset, which can help them build an initial model. 

Our goal is to:
1. **Analyze the data** provided in the `car_insurance.csv` file.
2. **Identify the single best feature** that predicts whether a customer will file a claim (as indicated by the "outcome" column).
3. Measure the performance of this feature using **accuracy** as the evaluation metric.
4. Store the result in a DataFrame named `best_feature_df`, containing the following columns:
    - `best_feature`: the name of the most predictive feature.
    - `best_accuracy`: the corresponding accuracy score of the feature.

This approach will enable **On the Road** to start with a simple model in production, ensuring that they can deploy and monitor it effectively while minimizing complexity.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Dataset/car_insurance.csv")

In [3]:
df.head()

,id,age,gender,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,duis,past_accidents,outcome
0,569520,3,0,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,0,1,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,0,0,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,0,1,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,1,1,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0