# NLP Application with Hugging Face

In [9]:
import re
import datetime
import string
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from transformers import pipeline
from sentence_transformers import SentenceTransformer
from sentence_transformers.util import semantic_search
from IPython.display import display, Markdown

ModuleNotFoundError: No module named 'sentence_transformers'

In [11]:
df = pd.read_csv('runway.csv', parse_dates=['review_date'])

In [12]:
df.head()

,user_id,item_id,rating,rented for,review_text,category,height,size,age,review_date
0,476109,139086,8,formal affair,it hit the floor perfectly with a pair of heel...,gown,"5' 3""",15,27.0,2017-12-19
1,203660,1126889,6,party,the dress is absolutely gorgeous unfortunately...,dress,"5' 4""",12,28.0,2022-01-03
2,868581,652189,8,wedding,even though it was lined with satin this was a...,dress,"5' 5""",24,30.0,2021-08-05
3,935076,1879504,8,wedding,this dress was greatit fit really well and was...,sheath,"5' 3""",14,37.0,2021-10-02
4,995023,1179146,10,party,super flattering i am usually a sizemi have a ...,dress,"5' 2""",14,37.0,2022-11-20

In [7]:
df.columns

Index(['user_id', 'item_id', 'rating', 'rented for', 'review_text', 'category',
       'height', 'size', 'age', 'review_date'],
      dtype='object')

The dataset contains the following columns.

- user_id: the unique identifier for the user.
- item_id: the unique identifier for the item/product rented.
- rating: the rating by the user.
- rented_for: the reason the item was rented.
- review_text: the actual text for the submitted user review.
- category: the category of the item rented.
- height: the height of the user in the format {feet}'{inches}".
- size: the size of the item rented by the user.
- age: the age of the user.
- review_date: the date the review was made by the user.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      1506 non-null   int64
 1   item_id      1506 non-null   int64
 2   rating       1506 non-null   int64
 3   rented for   1506 non-null   object
 4   review_text  1506 non-null   object
 5   category     1506 non-null   object
 6   height       1503 non-null   object
 7   size         1506 non-null   int64
 8   age          1500 non-null   float64
 9   review_date  1506 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 117.8+ KB

In [ ]:
## Cleaning the data

In [15]:
df["review_text_cleaned"] = df["review_text"].str.replace(r"/\","")
df["review_text_cleaned"] = df["review_text_cleaned"].str.translate(string.punctuation)
df["review_text_cleaned"] = df["review_text_cleaned"].str.replace(r"\d+","")    
df["review_text_cleaned"] = df["review_text_cleaned"].str.replace(r"s{2,}","")   
df["review_text_cleaned"] = df["review_text_cleaned"].str.lower()

SyntaxError: unterminated string literal (detected at line 1) (2936262857.py, line 1)